.footer__section {
  margin-top: 67px;
  margin-bottom: 60px;
  height: 18px;
  font-weight: 400;
  color: #545454;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .footer__section {
    margin-top: 48px;
    margin-bottom: 36px;
    font-size: 14px;
  }
}
