.image__modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.image__modal_opened {
  opacity: 1;
  visibility: visible;
}

.image__modal_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
}

.image__modal_figure {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  position: relative;
}

.image__modal_image {
  max-height: calc(100vh - 180px);
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: contain;
}

.image__modal_caption {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.image__modal_close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: transparent url("../images/close-icon.svg") center no-repeat;
  background-size: 32px 32px;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
