.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Close-Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 58px;
  /* margin-top: 34px; */
}

.modal__button {
  width: 358px;
  background-color: black;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
}
/*25 22*/
/*282 322*/

@media screen and (min-width: 320px) and (max-width: 799px) {
  .modal__container {
    padding: 25px 22px;
    width: auto;
    height: auto;
    margin: 123px auto;
  }
  .modal__close {
    top: -45px;
    right: 0px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 75px;
  }

  .modal__button {
    width: 238px;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
