.footer {
  margin: 67px 0 0;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #545454;
}

@media screen and (max-width: 615px) {
  .footer {
    margin: 0 19px 36px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
