.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, serif;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  width: 430px;
  max-height: 330px;
  color: #000;
  background-color: #fff;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.modal__title {
  margin: 0 0 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.modal__input {
  width: 100%;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.modal__input_type_error {
  border: none;
  border-bottom: 1px solid red;
  outline: none;
}

.modal__input-span {
  width: 100%;
  height: 17px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 0 12px;
}

.modal__input-error {
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
}

.modal__button_type_close {
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(../images/CloseButton.svg);
  background-color: transparent;
  background-size: cover;
  border: none;
  transform: rotate(45deg);
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__button_type_close:hover {
  opacity: 0.6;
}

.modal__button_type_submit {
  margin: 18px 0 0;
  padding: 14px 0;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__button_inactive {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button_type_submit:hover {
  opacity: 0.8;
}

.modal__image-container {
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  margin: 10px 0 0;
}

@media screen and (max-width: 615px) {
  .modal__container {
    margin: 0 19px;
    padding: 25px 22px;
  }

  .modal__title {
    font-size: 18px;
    margin: 0 0 76px;
  }

  .modal__button_type_submit {
    font-size: 14px;
    margin: 16px 0 0;
  }

  .modal__button_type_close {
    width: 26px;
    height: 26px;
    top: -39px;
    right: 0px;
  }
}
